body {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

* {
    box-sizing: border-box;
    font-family: Averta, sans-serif;
}

header {
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(255, 253, 245);
    align-items: center;
}

.header-container {
    padding: 15px 0;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.toggle-btn {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    display: none;
}

UL {
    list-style-type: none;
    display: flex;
}

ul a {
    text-decoration: none;
    margin-left: 65px;
    color: black;
    font-size: 17px;

}

ul a:focus {
    text-decoration: underline;
}

.section_1 {
    margin: 180px 0px;
}

.section_1 .box,
.section_2 .box {
    display: flex;
    margin: auto;
    max-width: 1300px;
}

.box_1,
.box_2 {
    width: 50% !important;
}

.box_2 {
    display: flex;
    justify-content: end;
}

.box_1 h2 {
    font-size: 42px;
}

.box_1 img {
    position: absolute;
    top: -60px;
    right: 20px;
    width: 16%;
}

.box_1 .text {
    width: 450px;
    font-size: 19px;
    color: rgb(120, 120, 120);
    line-height: 1.3;
}

.btn1,
.btn2 {
    font-weight: 400;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 50px;
    border: 1px solid;
    margin-top: 15px;
    color: white;
    border-bottom-right-radius: 10px;
}

.btn1 {
    background-color: rgb(229, 51, 43);
}

.btn2 {
    background-color: rgb(88, 88, 88);
    margin-left: 15px;
}

.modal {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 80px 40px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 5px 10px rgba(147, 145, 145, 0.3);
    width: 500px;
}

button {
    font-size: 16px;
}

.modal>button {
    background-color: rgb(229, 51, 43);
    padding: 15px 70px;
    border: none;
    color: white;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 3px 5px rgb(153, 150, 150);
}

.section_2 {
    background-image: url(./Page_3/bgsection2.png);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.box_a,
.box_b {
    width: 50%;
    margin-top: 90px;
}

.box_b {
    display: flex;
    justify-content: end;
}

.box_a h2 {
    margin-top: 80px;
    font-size: 40px;
}

.box_a p {
    font-size: 19px;
}

.line_2 {
    color: rgb(120, 120, 120);
}

.country {
    background-color: white;
    padding: 6px 15px;
    border-radius: 10px;
}

.section_3 .box {
    max-width: 1300px;
    margin: auto;
}

.box .skills,
.box .where {
    font-size: 40px;
    width: 500px;
}

.needs,
.clients {
    display: flex;
    flex-wrap: wrap;
}

.need,
.client {
    margin-right: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(123, 123, 123, 0.165);
    color: rgb(120, 120, 120);
    padding: 0px 25px !important;
    text-align: center;
    cursor: default;
    margin-bottom: 20px;
}

.need:hover,
.client:hover {
    transform: translateY(-13px);
    transition: .4s;
}

.section_4 {
    background-color: rgb(255, 248, 229);
    margin-top: 80px;
}

.section_4 .box h2 {
    font-size: 40px;
    padding-top: 100px;
}

.why {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 100px !important;
    max-width: 1250px;
    margin: auto;
}

.why_box {
    background-color: white;
    padding: 30px 40px;
    border-bottom-right-radius: 15px;
    text-align: center;
    width: 32%;
    height: auto;
    font-size: 18px;
    color: rgb(120, 120, 120);
    line-height: 1.5;
}

.why_box:hover {
    background-color: black;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    height: 170px;
}

.footer {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
}

.socials {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .toggle-btn {
        display: block;
        cursor: pointer;
    }

    .header-container {
        margin: 0px 20px;
    }

    .section_1>div,
    .section_2>div {
        display: block !important;
    }

    .box_1,
    .box_2 {
        width: 80% !important;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }

    .box_1>p,
    .box_2>img {
        width: 95% !important;
    }

    .box_a,
    .box_b {
        width: 70%;
        margin: auto;
        padding: 40px 0px;
    }

    .section_2 {
        height: auto;
    }

    .box_a>p {
        text-align: center;
    }

    .box_a>h2,
    .skills,
    .where {
        font-size: 33px !important;
        text-align: center !important;
        line-height: 1.5;
        width: 100% !important;
    }

    .section_3 .box {
        width: 90%;
        margin: auto;

    }

    .why_box {
        width: 85%;
    }

    .box_b>img {
        width: 100%;
    }
    .button .btn{
    display: flex;
 }
 .btn1, .btn2{
    padding: 10px;
 }
 footer{
    height: auto;
 }
     .modal{
    width: 90%;
 }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    nav {
        display: none;
    }

    .toggle-btn {
        display: block;
        cursor: pointer;
    }

    .header-container {
        margin: 0px 20px;
    }

    .section_1>div,
    .section_2>div {
        display: block !important;
    }

    .box_1,
    .box_2 {
        width: 70% !important;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }

    .box_1>p,
    .box_2>img {
        width: 95% !important;
    }

    .box_a {
        width: 85%;
        padding: 40px 0px;
        margin: auto;
    }
    .box_a>h2{
        font-size: 30px;
    }
    .box_b{
        width: 85%;
        padding-bottom: 30px;
        margin-top: 10px;
    }
     .box_b>img {
        width: 80%;
    }
     .section_2 {
        height: auto;
    }
      .section_3 .box {
        width: 90%;
        margin: auto;

    } 
    .why_box{
        width: 45%;
    }

}

